.chate_liste{
    width: 40%;
    height: 100%;
    background: #514685;
    display: flex;
    flex-direction: column;
    position: relative;
}

.search_box{
    width: 90%;
    height: 1rem;
    display: flex;
    margin: 1rem;
    align-items: center;

}
.search_box i{
    margin-right: 20px;
    color: white;
    font-size: 14px;
}
.search_box input{
    font-size: 16px;
    width: 70%;
    background: none;
    outline: none;
    border: none;
    color: rgb(233,233,233);

}
.search_box input::placeholder{
    color:  rgb(199, 199, 199);
}